{% load static%}

# showing created figures
<h2>age box plot</h2>
<img src="{% static 'sales/age_box_plot.png' %}" width=500 height=500>

<h2>age histogram</h2>
<img src="{% static 'sales/age_histogram.png' %}" width=500 height=500>

<h2>bmi barplot</h2>
<img src="{% static 'sales/bmi_bar_plot.png' %}" width=500 height=500>

<h2>gender barplot</h2>
<img src="{% static 'sales/gender_bar_plot.png' %}" width=500 height=500>

<h2>income distribution</h2>
<img src="{% static 'sales/income_distribution.png' %}" width=500 height=500>

